

/**
 * Page
 */
main {

}


/* MAP */
#map {
    height: 100%;
    width:100%;
    height:400px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

/**
 * FOOTER
 */

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6
}

.footer-dark ul a:hover {
    opacity: 0.8
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px
    }
}

.footer-dark .item.text {
    margin-bottom: 36px
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0
}

.footer-dark .item.social {
    text-align: center
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75
}

.footer-dark .item.social>a:hover {
    opacity: 0.9
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0
}


/**
 * Dashboard
 */

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}
.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}
.profile-button:hover {
    background: #682773
}
.profile-button:focus {
    background: #682773;
    box-shadow: none
}
.profile-button:active {
    background: #682773;
    box-shadow: none
}
.back:hover {
    color: #682773;
    cursor: pointer
}
.labels {
    font-size: 11px
}
.btn-request {
    cursor: pointer;
    color: #BA68C8;
    border: solid 1px #BA68C8
}
.btn-request:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/* Links */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
.links a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    text-decoration: none;
}
.links {
    *zoom: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}
.links:before, .links:after {
    content: "";
    display: table;
}
.links:after {
    clear: both;
}
.profile-menu a {
    padding: 0 10px;
    margin: 0 20px;
    color: #797878;
    text-shadow: none;
    position: relative;
}

/* Review */
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }